<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= profileName %> | Desenvolvedor fullstack</title>
    <link rel="stylesheet" href="public/styles/main.css">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <script src="public/js/htmx.min.js"></script>
</head> 
 
<body>
    <header>
        <h1><%= profileName %></h1><small>Full stack developer<span class="blink">_</span></small>
    </header>
    <main>
        <section>
            <ol>
                <li><span class="lnr lnr-map-marker"></span> São Paulo <span class="slashes">/</span></li>
                <li><span class="lnr lnr-users"></span> <a href="https://linkedin.com/in/adrianofranco" target="_blank">linkedIn</a> <span class="slashes">/</span></li>
                <li><span class="lnr lnr-briefcase"></span> <a href="https://github.com/adrianofranco" target="_blank">GitHub</a> <span class="slashes">/</span></li>
            </ol>
        </section>
        <code class="ascii-art" hx-get="/ascii-art" hx-trigger="load"></code>
    </main>
</body>

</html>