@media screen and (min-width: 768px) {

    body {
        max-width: 992px;
        margin: 0 auto;
    }

    header {

        //@include flex(row, start, end);

        small {
            margin-left: 20px;
            font-size: 1.5em;
        }

    }

    main {

        @include flex(column);
    
        section{

            ol{
                font-size: 1.5rem;
                text-align: inherit;
            }
    
            ol li{
                display: inline;
            }
    
            ol li .slashes{
               display: initial;
            }

            ol li:last-child .slashes{
                display: none;
            }
        }
        .ascii-art {
          font-size: .85rem 
        }
    }
}