body {
    filter: blur(0.6px);
    background-color: $almost-black;

    .blink {
        animation: blink .75s infinite;
    }

    font-family: "Kode Mono", monospace;

    a{
        color: white
    }
}


header {

    @include flex(column, center);

    color: $almost-white;
    text-shadow: $techno-light;

    h1 {
        margin: 1em 0 0;
    }

    small {
        font-family: "Micro 5", sans-serif;
        font-size: 2em;
    }
}

main {

    @include flex(column);

    section{
        color: $almost-white;
        text-shadow: $techno-light;
        background: $almost-black;
        
        ol{
            font-size: 1rem;
            margin-top: 10px;
            text-align: center;
        }

        ol li{
            display: block;
        }

        ol li .slashes{
            display: none;
        }
    }

    code {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .ascii-art { 
        margin-top: 25px;
        color: $almost-white;
        text-shadow: $techno-light;
        background: $almost-black;
        display: inline-block;
        white-space: pre;
        letter-spacing: 0;
        line-height: 1.4;
        font-family: 'Consolas', 'BitstreamVeraSansMono', 'CourierNew', Courier, monospace;
        font-size: 1.75vw;
    }

}